body{
  transition: all 0.5s ease !important;
}

.containercreate{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100wh;
    height: 99.4vh;
    border: 2px solid rgb(0, 0, 0);
    background: #000;
}


.singup {
    color: #000;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 0.7em;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
   min-height: 300px;
    padding-left: 0;
    padding-right:20px ;
    width: 300px;
    flex-direction: column;
    gap: 22px;
    border-radius: 25px;
    background: #ffffff;
    border-radius: 35px;
    animation: cardEntrance 1s ease-out forwards;
  }
  
  @keyframes cardEntrance {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .card:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  
  .inputBox,
  .inputBox1 {
    position: relative;
    width: 250px;
  }

  .inputBox input,
  .inputBox1 input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 10px;
  }
  .inputBox span,
  .inputBox1 span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-45px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  } 
  .inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-65px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}
.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
  transform: translateX(170px) translateY(-60px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

  .inputBox input:valid,
  .inputBox input:focus,
  .inputBox1 input:valid,
  .inputBox1 input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-bottom: 1.5em;
  }
  .enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }